<div>
    <h1>{{cosmetic.name}}</h1>
    <p>{{cosmetic.category}}</p>
    <p>{{cosmetic.brand}}</p>
    <p>{{cosmetic.stock}}</p>
    <p>{{cosmetic.price}}</p>
    <p>{{cosmetic.description}}</p>
    <img src="{{cosmetic.image}}" alt="">
    <button class="btn btn-success"><i class="bi bi-pencil-fill"></i>Edit</button>
</div>